<div class="container">
  <h2>Users</h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>Profession</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.nome }}</td>
        <td>{{ user.idade }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.profissao }}</td>
        <td>
          <button class="btn btn-success" (click)="userEdit(user)">Edit</button>
          <button class="btn btn-danger" (click)="userDelete(user.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
