<div class="container">
  <h2>Usuários</h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>E-mail</th>
        <th>Profissão</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios; let i = index">
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.idade }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.profissao }}</td>
        <td>
          <button class="btnEditar" (click)="editarUsuario(usuario)">
            Editar
          </button>
          <button class="btnExcluir" (click)="excluirUsuario(usuario.id)">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
