h2 {
  color: black;
  text-align: center;
}

.class-row {
  margin-top: 15px;
}
.btn-fechar {
  background-color: #8b0000;
  margin-left: 50px;
}
.btn-salvar {
  background-color: #006400;
}
.flagEditar {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.flagEditar .campoEditar {
  margin-bottom: 15px;
}
.flagEditar .label {
  display: block;
  font-weight: bold;
}

.flagEditar .buttons-container {
  text-align: right;
}
.flagEditar button {
  padding: 8px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.class-row {
  text-align: start;
}

.validationError p {
  color: red;
  margin-top: 0.4em;
  border-left: 3px solid red;
  padding-left: 0.2em;
}
