<div class="flagEditar">
  <h2>Edit</h2>
  <div class="campoEditar">
    <span class="label">Name:</span>
    <input type="text" class="form-control" [(ngModel)]="user.nome" />
  </div>
  <div class="campoEditar">
    <span class="label">Age:</span>
    <input type="number" class="form-control" [(ngModel)]="user.idade" />
  </div>
  <div class="campoEditar">
    <span class="label">E-mail:</span>
    <input type="email" class="form-control" [(ngModel)]="user.email" />
  </div>
  <div class="campoEditar">
    <span class="label">Profession:</span>
    <input type="text" class="form-control" [(ngModel)]="user.profissao" />
    <div class="class-row">
      <button
        class="btn-salvar btn btn-success"
        (click)="saveUser(user)"
        [routerLink]="['/users']"
      >
        Salvar
      </button>
      <button class="btn-fechar btn btn-danger" [routerLink]="['/users']">
        X
      </button>
    </div>
  </div>
</div>
