.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
}
.styled-table thead tr {
  background-color: rebeccapurple;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rebeccapurple;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: rebeccapurple;
}
h2 {
  color: rebeccapurple;
}
.btnSelecionar {
  background-color: palegreen;
  margin-left: 5px;
}
.flagEditar {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.flagEditar .campoEditar {
  margin-bottom: 15px;
}
.flagEditar .label {
  display: block;
  font-weight: bold;
}
.flagEditar input[type="text"],
.flagEditar input[type="number"],
.flagEditar input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.flagEditar .buttons-container {
  text-align: right;
}
.flagEditar button {
  padding: 8px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.flagEditar button.btnSalvar {
  margin-top: 15px;
  background-color: #4caf50;
  color: white;
}
.flagEditar button.btnFechar {
  margin-top: 15px;
  background-color: #f44336;
  color: white;
}

.class-row {
  text-align: start;
}
