<form
  class="flagEditar"
  (ngSubmit)="onSubmit()"
  [formGroup]="formGroup"
  #formDir="ngForm"
>
  <h2>Edit Hero</h2>
  <div class="campoEditar">
    <span class="label">ID: {{ hero.id }}</span>
  </div>
  <div class="campoEditar">
    <span class="label">Name:</span>
    <input type="text" class="form-control" formControlName="name" required />
  </div>
  <button type="submit" class="btn-salvar btn btn-success">Save</button>
  <button class="btn-fechar btn btn-danger" [routerLink]="['/heroes']">
    X
  </button>
</form>
