h2 {
  text-align: center;
  padding: 10px;
}
.calculator {
  border: 1px solid black;
  margin-left: 500px;
  height: 380px;
  width: 360px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
.display {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: right;
}
.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
button {
  width: 70px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.clear {
  grid-column: span 2;
}
.calculate {
  grid-column: span 2;
  background-color: #ff5722;
  color: #fff;
}

.hide {
  color: #fff;
  background-color: #fff;
}
