<!-- <button class="btnExcluir" (click)="usuarios.adicionarUsuario(meuUser)">
  Adicionar Usuários
</button>
<table class="styled-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>E-mail</th>
      <th>Profissão</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.idade }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.profissao }}</td>
      <td>
        <button class="btnEditar" (click)="usuario.editou = true">
          Editar
        </button>
        <button class="btnExcluir">Excluir</button>
      </td>
    </tr>
  </tbody>
</table> -->
