<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  rel="stylesheet"
/>
<app-toolbar
  [chooseBtn]="chooseBtn"
  (emitClick)="onClickBtn($event)"
></app-toolbar>
<div *ngIf="chooseCalculator">
  <app-calculadora
    [display]="labelDisplay"
    (emitEquals)="onReceiveEquals()"
    (emitNumber)="onReceiveNumber($event)"
    (emitClear)="onReceiveClear()"
    (emitOperation)="onReceiveOperation($event)"
  ></app-calculadora>
</div>
<div *ngIf="chooseHistory">
  <app-historico [historyCalculator]="historyCalculator"></app-historico>
</div>
<div *ngIf="chooseUser">
  <app-usuarios-component
    (emitterDeleteIndex)="deleteUser($event)"
    [users]="users"
    (emitterEdition)="userEdition($event)"
  ></app-usuarios-component>
</div>
<div *ngIf="receiveUser">
  <app-usuario-component
    (emitterCloseWindow)="closeEdition($event)"
    (emitterSaveUser)="saveUser($event)"
    [user]="userSelected"
  ></app-usuario-component>
</div>
<div *ngIf="chooseHero">
  <app-herois [heroes]="heroes" (emitterHeroSelected)="selectHero($event)">
    ></app-herois
  >
</div>
<div *ngIf="receiveHero">
  <app-heroi
    [hero]="heroSelected"
    (emitterCloseEdition)="closeHeroEdition()"
    (emitterSaveHero)="saveHero($event)"
  ></app-heroi>
</div>
