.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .table-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  .header-item,
  .row-item {
    flex: 1;
  }
  
  .alertEditar {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .campoEditar {
    margin-bottom: 15px; /* Espaçamento maior entre os campos */
  }
  
  .label {
    font-weight: bold;
  }
  
  .btnEditar,
  .btnExcluir,
  .btnSalvar {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btnEditar:hover,
  .btnExcluir:hover,
  .btnSalvar:hover {
    background-color: #0056b3;
  }
  
  .form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btnEditar,
  .btnExcluir,
  .btnSalvar {
    margin-right: 5px;
  }
  
  .buttons-container {
    display: flex;
    align-items: center;
  }
  
  .buttons-container button {
    margin-right: 10px;
  }
  
h3 {
  color: #0056b3;
}