<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  rel="stylesheet"
/>
<app-toolbar
  [btnEscolha]="btnEscolha"
  (emissaoClick)="onClickBtn($event)"
></app-toolbar>
<div *ngIf="escolheuCalculadora">
  <app-calculadora
    [visor]="visor"
    [historicoCalculadora]="historicoCalculadora"
    [escolheuHistorico]="escolheuHistorico"
    (emissaoHistorico)="onReceberHistorico()"
    (emissaoIgual)="onReceberIgual()"
    (emissaoNumero)="onReceberNumero($event)"
    (emissaoClear)="onReceberClear()"
    (emissaoOperacao)="onReceberOperacao($event)"
    (emissaoFecharHistorico)="onFecharHistorico()"
  ></app-calculadora>
</div>
<div *ngIf="escolheuUsuario">
  <app-usuarios-component
    (indexExcluir)="excluirUsuario($event)"
    [usuarios]="usuarios"
    (emissaoDeEdicao)="edicaoUsuario($event)"
  ></app-usuarios-component>
</div>
<div *ngIf="recebeuUser">
  <app-usuario-component
    (fecharJanela)="fecharEdicao($event)"
    (usuarioSalvar)="salvarUsuario($event)"
    [usuario]="usuarioSelecionado"
  ></app-usuario-component>
</div>
<div *ngIf="escolheuHeroi">
  <app-herois [heroes]="heroes" (heroiSelecionado)="selecionaHeroi($event)">
    ></app-herois
  >
</div>
<div *ngIf="recebeuHeroi">
  <app-heroi
    [hero]="heroiSelecionado"
    (emitirFechou)="fecharEdicaoHeroi()"
    (emitirHeroi)="salvarHeroi($event)"
  ></app-heroi>
</div>
